<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedules </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let day of days" >
      <ion-item slot="header">
        <ion-label>{{ day.name }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let schedule of day.schedules" >
          <ion-label>{{ schedule.name }}</ion-label>
          <ion-button slot="end" (click)="reserve(day.name, schedule.name)">
            Reserve
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
